@import url("https://fonts.googleapis.com/css2?family=Fjord+One&display=swap");

.titreh1 {
  font-size: 2em;
  font-family: "Fjord One", serif;
  font-weight: bold;
  color: #ffe27a;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
}
.titreh2 {
  font-size: 2em;
  font-family: "Fjord One", serif;
  font-weight: bold;
  color: #ffe27a;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0.5em;
  padding: 0;
}

p,
li {
  font-family: "Fjord One", serif;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.titrecarousel {
  font-family: "Fjord One", serif;
  text-align: center;
  padding: 0.5em;
  border-radius: 1em 1em;
  background-color: hsla(235, 82%, 68%, 0.8);
}

.taillecarousel {
  margin-top: 6em;
  width: 100%;
}

.titrebienvenue {
  font-size: 2em;
  font-family: "Fjord One", serif;
  font-weight: bold;
  color: #d8ab04;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 1em;
  padding: 0;
}

.titrehistoire {
  font-size: 1.7em;
  font-family: "Fjord One", serif;
  font-weight: bold;
  color: #ffe27a;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 1em;
  padding: 0;
}

.divbienvenue {
  font-family: "Fjord One", serif;
  color: #fff;
  padding: 3em;
  background-color: hsla(235, 82%, 68%, 0.8);
  margin: auto;
  text-align: center;
  border-radius: 1em 1em;
  margin: 3em;
}

.divbienvenue2 {
  font-family: "Fjord One", serif;
  color: #fff;
  padding: 3em;
  margin: auto;
  text-align: center;
}

.block {
  display: inline-block;
  border-radius: 1em 1em;
  background-color: hsla(235, 82%, 68%, 0.8);
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-family: "Fjord One", serif;
  padding: 5em;
  margin: 1.5em;
  min-width: 300px;
}
.accordeon {
  font-family: "Fjord One", serif;
  font-size: 1.2em;
  color: hsla(235, 82%, 68%, 1);
  text-align: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.titreaccordeon {
  font-size: 1.5em;
  font-family: "Fjord One", serif;
  font-weight: bold;
  color: #d8ab04;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0.6em;
  padding: 0;
  text-align: center;
}

.footerstyle {
  font-family: "Fjord One", serif;
  background-color: #fad85f;
  text-align: center;
  margin-top: 3em;
  padding: 3em;
  text-align: center;
}

.buttonstyle {
  text-decoration: none;
  border: none;
  color: #ffe27a;
  padding: 2em 10em;
  font-size: 1.2em;
  font-family: "Fjord One", serif;
  letter-spacing: 0.1em;
  transition: all 0.5s;
  position: relative;
  border-radius: 2em 2em;
  background-color: #fad85f;
}

.buttonstyle:before {
  content: "Les prêtres de la paroisse";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffe27a;
  background-color: hsla(235, 82%, 68%, 0.8);
  font-weight: 500;
  font-size: 1.2em;
  top: 0;
  left: 100%;
  font-family: "Fjord One", serif;
  letter-spacing: 0.1em;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
  border-radius: 1em 1em;
}
.buttonstyle:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}
.buttonstyle:after {
  content: "Découvrir les prêtres";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffe27a;
  background-color: hsla(235, 82%, 68%, 0.8);
  font-size: 1.2em;
  top: 0;
  left: 0;
  font-family: "Fjord One", serif;
  letter-spacing: 0.1em;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
  border-radius: 1em 1em;
}
.buttonstyle:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}
.discret {
  font-family: "Fjord One", serif;
  font-size: 1em;
  color:  hsla(235, 82%, 68%, 0.8);
  text-align: center;
  margin-top: 3.5em;
  margin-bottom: Oem;
  padding: 0;
}
.headercanvas {
  font-family: "Fjord One", serif;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  margin: 0.3em;
  padding: 0;
  color: hsla(235, 82%, 68%, 0.8);
}

.bodycanvas {
  font-family: "Fjord One", serif;
  font-size: 1em;
  color:  #fad85f;
  background-color: hsla(235, 82%, 68%, 0.8);
  text-align: center;
  margin-top: 3.5em;
  margin-bottom: Oem;
  padding: 0;
}

.photoscure {
  width: 10em;
  height: 11em;
  object-position: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: auto;
  padding-right: auto;
  border-radius: 1em;
}

.titrecure {
  font-size: 1.1em;
  font-family: "Fjord One", serif;
  font-weight: 500;
  color: #ffe27a;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 1em;
  padding: 0;
}